html {
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
   }

.page {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.header {
    display: flex;
    background-color: #1f2937;
    }
ul {
    display: flex;
    text-decoration: none;
    list-style-type: none;
    gap: 16px;
}

.awsome {
    display: flex;
    background-color: #1f2937
    flex: 1;
}

.box-one {
    display: flex;
    flex-direction: column;
}

.main {
    display: flex;
    flex-direction: column;
    background-color: white;
    flex: 1;
}

.main-container {
    display: flex;
}

.first {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.img-text-one {
    height: 200px;
    width: 200px;
    margin: 0;
    padding: 0;
}

.sign-up-box {
    display: flex;
    flex: 1;
}

.quote {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #e5e7eb;
  }
.signature {
    display: flex;
    justify-content: flex-end;
}

.signup {
    display: flex;
    }

.call {
    display: flex;
    flex-direction: column;
}

button {
    background-color: #3882f6;
    font-size: 20px;
    color: #f9faf8;

}